@layer base, component;
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer component {
  @font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/9cff5f27f6ad3d59.eot');
    src:
      local(Roboto Light),
      local(Roboto-Light),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/2188ea3f3f8ab51a.woff') format("woff"),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/5605865fb101be1a.ttf') format("truetype"),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/1e0c2160cb5b9b62.svg#Roboto-Light') format("svg");
  }

  @font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/b21a0eefbec4f57f.eot');
    src:
      local(Roboto),
      local(Roboto-Regular),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/2313f68c10458709.woff') format("woff"),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/b796ce65a81adc41.ttf') format("truetype"),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/1e0c2160cb5b9b62.svg#Roboto-Regular') format("svg");
  }

  @font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/9a9c9421bcdef79c.eot');
    src:
      local(Roboto Medium),
      local(Roboto-Medium),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/769ea541b3eef14d.woff') format("woff"),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/03501557d620ee6b.ttf') format("truetype"),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/1e0c2160cb5b9b62.svg#Roboto-Medium') format("svg");
  }

  @font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/0d2870f5e1759c7a.eot');
    src:
      local(Roboto Bold),
      local(Roboto-Bold),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/313d5de65a92aae6.woff') format("woff"),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/ed694f411e0b3a82.ttf') format("truetype"),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/1e0c2160cb5b9b62.svg#Roboto-Bold') format("svg");
  }

  @font-face {
    font-display: swap;
    font-family: SHPBurmese;
    font-style: normal;
    font-weight: 400;
    src:
      local(SHPBurmese),
      local(SHPBurmese-Regular),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/cb8cb550721c0e4b.woff2') format("woff2"),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/f323e3aca914323c.woff') format("woff");
    unicode-range: U+1000-109F, U+200C-200D, U+25CC, U+A92E, U+A9E0-A9FE, U+AA60-AA7F, U+116D0-116E3;
  }

  @font-face {
    font-display: swap;
    font-family: SHPBurmese;
    font-style: normal;
    font-weight: 500 900;
    src:
      local(SHPBurmese),
      local(SHPBurmese-Bold),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/f541c268f1fe1d5e.woff2') format("woff2"),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/0d6a0e110a917f1a.woff') format("woff");
    unicode-range: U+1000-109F, U+200C-200D, U+25CC, U+A92E, U+A9E0-A9FE, U+AA60-AA7F, U+116D0-116E3;
  }

  @font-face {
    font-display: swap;
    font-family: SHPKhmer;
    font-style: normal;
    font-weight: 400;
    src:
      local(SHPKhmer),
      local(SHPKhmer-Regular),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/94e02354f0537a73.woff2') format("woff2"),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/b2e27183240120a8.woff') format("woff");
    unicode-range: U+1780-17FF, U+19E0-19FF, U+200C-200D, U+25CC;
  }

  @font-face {
    font-display: swap;
    font-family: SHPKhmer;
    font-style: normal;
    font-weight: 500 900;
    src:
      local(SHPKhmer),
      local(SHPKhmer-Bold),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/09a297825af983b8.woff2') format("woff2"),
      url('https://proxy.extractcss.dev/https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/fdff68f9de417674.woff') format("woff");
    unicode-range: U+1780-17FF, U+19E0-19FF, U+200C-200D, U+25CC;
  }

  /* Shocking Sale Countdown Animations */
  @keyframes second-ten {
    0% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(0);
    }
    16.66% {
      transform: translateY(-17px);
    }
    31.66% {
      transform: translateY(-17px);
    }
    33.33% {
      transform: translateY(-34px);
    }
    48.33% {
      transform: translateY(-34px);
    }
    50% {
      transform: translateY(-51px);
    }
    65% {
      transform: translateY(-51px);
    }
    66.66% {
      transform: translateY(-68px);
    }
    81.66% {
      transform: translateY(-68px);
    }
    83.33% {
      transform: translateY(-85px);
    }
    98.33% {
      transform: translateY(-85px);
    }
    to {
      transform: translateY(-102px);
    }
  }

  @keyframes second-digit {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(-17px);
    }
    20% {
      transform: translateY(-34px);
    }
    30% {
      transform: translateY(-51px);
    }
    40% {
      transform: translateY(-68px);
    }
    50% {
      transform: translateY(-85px);
    }
    60% {
      transform: translateY(-102px);
    }
    70% {
      transform: translateY(-119px);
    }
    80% {
      transform: translateY(-136px);
    }
    90% {
      transform: translateY(-153px);
    }
    to {
      transform: translateY(-170px);
    }
  }

  @keyframes minute-ten {
    0% {
      transform: translateY(0);
    }
    16.6389% {
      transform: translateY(0);
    }
    16.6667% {
      transform: translateY(-17px);
    }
    33.3056% {
      transform: translateY(-17px);
    }
    33.3333% {
      transform: translateY(-34px);
    }
    49.9722% {
      transform: translateY(-34px);
    }
    50% {
      transform: translateY(-51px);
    }
    66.6389% {
      transform: translateY(-51px);
    }
    66.6667% {
      transform: translateY(-68px);
    }
    83.3056% {
      transform: translateY(-68px);
    }
    83.3333% {
      transform: translateY(-85px);
    }
    99.9722% {
      transform: translateY(-85px);
    }
    to {
      transform: translateY(-102px);
    }
  }

  @keyframes minute-digit {
    0% {
      transform: translateY(0);
    }
    9.833% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(-17px);
    }
    19.833% {
      transform: translateY(-17px);
    }
    20% {
      transform: translateY(-34px);
    }
    29.833% {
      transform: translateY(-34px);
    }
    30% {
      transform: translateY(-51px);
    }
    39.833% {
      transform: translateY(-51px);
    }
    40% {
      transform: translateY(-68px);
    }
    49.833% {
      transform: translateY(-68px);
    }
    50% {
      transform: translateY(-85px);
    }
    59.833% {
      transform: translateY(-85px);
    }
    60% {
      transform: translateY(-102px);
    }
    69.833% {
      transform: translateY(-102px);
    }
    70% {
      transform: translateY(-119px);
    }
    79.833% {
      transform: translateY(-119px);
    }
    80% {
      transform: translateY(-136px);
    }
    89.833% {
      transform: translateY(-136px);
    }
    90% {
      transform: translateY(-153px);
    }
    99.833% {
      transform: translateY(-153px);
    }
    to {
      transform: translateY(-170px);
    }
  }

  @keyframes hour-ten {
    0% {
      transform: translateY(0);
    }
    9.99972% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(-17px);
    }
    19.9997% {
      transform: translateY(-17px);
    }
    20% {
      transform: translateY(-34px);
    }
    29.9997% {
      transform: translateY(-34px);
    }
    30% {
      transform: translateY(-51px);
    }
    39.9997% {
      transform: translateY(-51px);
    }
    40% {
      transform: translateY(-68px);
    }
    49.9997% {
      transform: translateY(-68px);
    }
    50% {
      transform: translateY(-85px);
    }
    59.9997% {
      transform: translateY(-85px);
    }
    60% {
      transform: translateY(-102px);
    }
    69.9997% {
      transform: translateY(-102px);
    }
    70% {
      transform: translateY(-119px);
    }
    79.9997% {
      transform: translateY(-119px);
    }
    80% {
      transform: translateY(-136px);
    }
    89.9997% {
      transform: translateY(-136px);
    }
    90% {
      transform: translateY(-153px);
    }
    99.9997% {
      transform: translateY(-153px);
    }
    to {
      transform: translateY(-170px);
    }
  }

  @keyframes hour-digit {
    0% {
      transform: translateY(0);
    }
    9.99722% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(-17px);
    }
    19.9972% {
      transform: translateY(-17px);
    }
    20% {
      transform: translateY(-34px);
    }
    29.9972% {
      transform: translateY(-34px);
    }
    30% {
      transform: translateY(-51px);
    }
    39.9972% {
      transform: translateY(-51px);
    }
    40% {
      transform: translateY(-68px);
    }
    49.9972% {
      transform: translateY(-68px);
    }
    50% {
      transform: translateY(-85px);
    }
    59.9972% {
      transform: translateY(-85px);
    }
    60% {
      transform: translateY(-102px);
    }
    69.9972% {
      transform: translateY(-102px);
    }
    70% {
      transform: translateY(-119px);
    }
    79.9972% {
      transform: translateY(-119px);
    }
    80% {
      transform: translateY(-136px);
    }
    89.9972% {
      transform: translateY(-136px);
    }
    90% {
      transform: translateY(-153px);
    }
    99.9972% {
      transform: translateY(-153px);
    }
    to {
      transform: translateY(-170px);
    }
  }

  #shopee-mini-chat-embedded ::-webkit-scrollbar {
    width: 4px;
    height: 6px;
  }
  #shopee-mini-chat-embedded ::-webkit-scrollbar-track {
    background: 0 0;
  }
  #shopee-mini-chat-embedded ::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 3px;
  }

  /* 3-dot wobble loader (infinite scroll) */
  @keyframes movement {
    0% {
      transform: translateY(2px);
    }
    50% {
      transform: translateY(-2px);
    }
    to {
      transform: translateY(2px);
    }
  }

  /* Product detail section */
  @keyframes HjzSc9 {
    0% {
      background-position:
        50%,
        100% 0;
    }
    to {
      background-position:
        50%,
        -100% 0;
    }
  }

  /* Cart dropdown popover */
  @keyframes popover-enter-animation {
    from {
      opacity: 0;
      transform: scale(0.96);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
